<h1> My Travel Logs </h1>
<p> Click on a city to access logs for each place or simply add a new place! </p>

<ul>
  <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>">
        <%= place["name"] %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <a href="places/new"> <b> Add a new place </b> </a>
</p>