<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name", "Enter place of travel" %>
    <%= form.text_field "name" %>
  <%= form.submit %>
<% end %>

<p>
    <a href="/places">Back to List of Places</a>
</p>