<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name", "Enter City or Country of Travel" %>
    <br>
    <%= form.text_field "name" %>
  </p>

  <br>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>

<p>
  <a href="/places">Back to List of Places</a>
</p>